/* even more color variables */
$textColor: #3d3d3d;
$backgroundColor: #6D6D6D;

body {
    color: $textColor;
	background-color: $backgroundColor;
}

p {
    color: $textColor;
}

h2 {
	background-color: $backgroundColor;
}
